<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>用户管理</title>
    <th:block th:replace="~{/admin/common_resources::common_css}"></th:block>
    <th:block th:replace="~{/admin/common_resources::common_js}"></th:block>
</head>

<body class="hold-transition skin-purple sidebar-mini">
    <div class="wrapper">

        <header th:replace="~{/admin/common_header::header}"></header>
        <aside th:replace="~{/admin/common_aside}"></aside>
    <div class="content-wrapper">
    </div>

    <footer th:replace="~{/admin/common_footer::footer}"></footer>


    </div>
</body>

</html>